# dependencies
node_modules
.pnp
.pnp.js

# production
dist
dist-ssr
build
out

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
*.pem
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env
.env*.local
.env.production
.env.development

# typescript & caches
*.tsbuildinfo
.turbo
.pnpm-store
